body {
  overflow: hidden;
align-items: center;
min-height:100vh;
justify-content: center;
display: flex;

}
.colorBtn {
  padding: 0.25rem 0.5rem;
  border: 3px solid purple;
  border-radius: 10px;
  background: pink;
  font-size:0.85rem;
  outline: none;
  font-size:1.5rem;
  cursor: pointer;




}
.colorBtn:hover {

  background: purple;
}
