
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

  body {
  overflow:  hidden;
  background-color: #333;
}

  #bkgdAboutMePage {
  height: 100%;
  width: 100%;
  background: url(images/aboutmeBkgd.jpg);
  position: absolute;
  z-index: -5;
  display: block;
  background-size: contain;
  opacity: 0.5;
}

  ul {
  font-size: 35px;
  font-family: Rubik;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

  li {
  float: left;
}

  li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

  li a:hover {
  background-color: darkolivegreen;
}

  .title {
    font-family: Rubik;
    font-size: 70px;
    text-align: center;
    color: white;
    text-shadow: 5px 5px 10px #333;
  }

    #pic-of-me {
  width: 300px ;
  border-radius: 50%;
  margin: auto 50rem;
  position: relative;
  }

  .main-text {
    text-align: center;
    font-size: 30px;
    font-family: Rubik;
    color: white;
    text-shadow: 1px 1px 4px #333;
    margin: auto;
    padding: 50px 50px 50px 50px;

    }
