
* {
  box-sizing: content-box;
  padding: 0;
  margin: 0;


}

  body {
  background-color: #111;

}

img {
  width: 300px;
}

  ul {
  font-size: 25px;
  font-family: Didact Gothic , sans-serif;
  list-style-type: none;
  overflow: hidden;
  color: white;
  text-decoration: none;
  margin-top: 0px;
}

  li {
  float: left;
}

  li a {
  display: block;
  color: white;
  text-align: center;
  padding: 0px 25px;
  text-decoration: none;
}

  li a:hover {
  background-color: darkolivegreen;
}

header h1 {
  font-family: Didact Gothic , sans-serif;
  color: white;
  font-size: 50px;
  text-shadow: 0 3px 0 rgba(0,0,0, 0.5);
  position: relative;
  margin:0px;
  letter-spacing: 10px;
  top:250px;
  text-align: center;
  position:sticky;
}


  p {
    text-align: left;
    font-size: 20px;
    font-family: Didact Gothic , sans-serif;
    color: #666;
    display: -webkit-box;
    line-height: 1.8;
    margin-top: 10px;
    float: left;




    }

    /** GRID */
    .col-1 {
      width: 50%;
      margin-right: 80px;


    }
    .col-2 {
      width: 50%;


    }


    /* applies to all colums */
    [class*="col-"] {
      text-align: center;
      height: 100%;
      margin-top: 15px;
    }


/* slideshow */
.slideshowContainer {
  max-width:500px;
  max-height: 600px;
  min-height: 600px;
  position: relative;
  margin: auto;
  float: right;
}


.mySlides {
  display:inline-table;
  min-height: 600px;
  max-height: 600px;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top:50%
  width:auto;
  margin-top:-22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;

}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;

}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  font-family: Didact Gothic , sans-serif;
}

.number {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;

}

.active, .dot:hover {
  background-color:  #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

a {
  text-decoration: none;
  color: darkolivegreen;

}
@media screen and (max-width: 50em) {
  ul, li, li a {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}

@media screen and (max-width:500px) {
  p,  h1 {
    width: 50%;
    display:inline;
    position: fixed;
  }
}
.row {
  display: inline-flex;
  position: relative;

}
header {
  background-image:url(images/aboutMe.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-bottom: 8px;
  margin-top:10px;
  margin-bottom: 10px;
  min-height:300px;
}
@media screen and (min-width: 50em) {
  header {
    height: 400px;
  }
}

  header h1 {
    font-size: 3.2em;
    top: 300px;
  }
