body {
  background: url("images/aboutmebg.jpg");
  background-size: cover;
  background-position: repeat;
  repeat: 0;
  overflow: none;
}

.main-text {
    text-align: center;
    font-size: 25px;
    font-family: Montserrat;
    color: #333;
  }

  .title {
    font-family: Montserrat;
    font-size: 70px;
    text-align: center;
    color: #333;
  }

  ul {
    font-size: 35px;
    font-family: Montserrat;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: hotpink;
  }
