.title {
  font-family: Kalam;
  font-size: 70px;
  text-align: right;
  color: black;
}

body {
  background: url("images/home-bg2.jpg");
  background-size: cover;
  background-position: center;
  repeat: none;
  position: relative;
}

#self-taught-se-text {
  text-align: right;
  font-size: 30px;
  font-family: Kalam;
  color: black;
}

#goLink {
  text-align: right;
  color: black;
  font-family: Kalam;
  font-size: 50px;
  padding-left: 1500px;
}



}


}
