/* If it aint positioning properly - try "position" or "display" */

/* * means applies to everything */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  overflow: hidden;
}



#landingPageSection {
  width: 100%;
  height: 100%;
  position: absolute;

}

#bkgdLandingPage {
  height: 100%;
  width: 100%;
  background: url(images/home-bg4.jpg);
  position: absolute;
}

#header {
  font-family: Rubik;
  font-size: 70px;
  text-align: center;
  color: darkolivegreen;
  text-shadow: 1px 1px 4px black;
  padding: 331px 459px 36px;
}

#self-taught-se-text {
  text-align: center;
  font-size: 30px;
  font-family: Rubik;
  color: darkolivegreen;
  text-shadow: 1px 1px 4px black;
}

#goLink {
  align: center;
  color: darkolivegreen;
  font-family: Rubik;
  font-size: 50px;
  padding: 5px 582px 25px 770px;
  text-shadow: 1px 1px 4px black;
}
