* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}
body {
  background-color: #111;
overflow: visible;
}
ul {
font-size: 25px;
font-family:Didact Gothic, sans-serif;
list-style-type: none;
overflow: hidden;
color: white;
text-decoration: none;
margin-top: 0px;
}

li {
float: left;
}

li a {
display: block;
color: white;
text-align: center;
padding: 0px 25px;
text-decoration: none;
}

li a:hover {
background-color: darkolivegreen;
}
h1 {
  font-family: Didact Gothic, sans-serif;
  font-size: 60px;
  text-align: center;
  color: white;
  text-shadow: 5px 5px 10px #333;
  margin-bottom: 10px;
}
p {
   font-family: Didact Gothic, sans-serif;
   font-size: 20px;
   text-align: center;
   color: #666;

}
.col-1 {
  width:33.3333%;

  float: left;
}

.col-2 {
  width: 66.666;
  float: left;


}

.col-3{
  width:100%;
  float: right;
}

[class*="col-"] {
  text-align: center;
  width: 100%;
  overflow-y: hidden;
  height: 100%;
}
.container {
  max-width: 33.333%;
  margin-right: auto;
  margin-left: auto;
}
